@model MVC.Models.UserPropertiesViewModel

    @using (Html.BeginForm("UserProperties", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset class="form-horizontal">
            <legend>User Properties</legend>
                <div class="control-group">
                    @Html.LabelFor(Model => Model.Email, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(Model => Model.Email)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(Model => Model.Phone, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(Model => Model.Phone)
                    </div>
                </div>
            <div class="form-actions no-color">
                <input type="submit" value="Update properties" class="btn" />
            </div>
        </fieldset>
    }
