@using Microsoft.AspNet.Identity
@model MySample.WebMVC.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>Change Password Form</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

         <div class="form-actions no-color">
             <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </fieldset>
}
